#No subir código compilado
*.class

# Package Files #
*.war
*.ear

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
#No subir la carpeta donde se compila las clases.
/build/
#No subir la carpeta donde se guarda el ejecutable que se genera.
/dist/
!/Descargar el programa/Versión 0.1.1 - Última disponible/Ejecutable/ORS 0.1.1.jar
/nbproject/private/